{
  "openapi": "3.0.0",
  "info": {
    "title": "ENAME Network API",
    "description": "API for LEI lookup and portfolio management on the ENAME network",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apinew.ename.ai",
      "description": "ENAME Production API"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/lei/{leiCode}": {
      "get": {
        "summary": "Lookup LEI information",
        "description": "Retrieve information about a Legal Entity Identifier",
        "operationId": "getLEI",
        "parameters": [
          {
            "name": "leiCode",
            "in": "path",
            "required": true,
            "description": "The LEI code to lookup",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z0-9]{20}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LEI information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lei": {
                      "type": "string"
                    },
                    "legalName": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "registrationDate": {
                      "type": "string",
                      "format": "date"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/portfolio/{portfolioId}": {
      "get": {
        "summary": "Get portfolio status",
        "description": "Retrieve status and details of a trading portfolio",
        "operationId": "getPortfolio",
        "parameters": [
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
            "description": "The portfolio ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Portfolio information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "portfolioId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "totalValue": {
                      "type": "number"
                    },
                    "assetCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/05219ba6-1398-48ff-9686-a4eea6b80537/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/05219ba6-1398-48ff-9686-a4eea6b80537/oauth2/v2.0/token",
            "scopes": {
              "api://99967674-55eb-4be4-b51b-92c0a9f473d1/access_as_user": "Access ENAME API"
            }
          }
        }
      }
    }
  }
}
